@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Password Reset Successful";
}

<h2>Password Reset Successful</h2>
<p>Your password has been successfully reset. You may now <a href="/Login/login">login</a>.</p>
